.girlDog{
    margin:-10px 30px -70px 160px;
    grid-column:2;
    grid-row: 1;
    background-color: #FBE0DC;
    border-radius: 5% ;
    height: 110%;
  }
  
  .imgGirlDog{
    height: 100%;
    margin-left: -40px;
    width: 110%;
    z-index: 2;
    margin-top: -80px;
  }