.searchingLine{
    display: flex;
    gap: 10px;  
    margin-bottom: 10px;
  }

  .search{
    flex-grow: 2;
    display: flex;  
    justify-content: space-between;  
    background-color: #FFFFFF;
    border-radius: 10px;
    align-items: center;
  }
  
  .searchInput{
    width: 100%;
    border: none;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8C8C8C;
    pointer-events: auto;
  }
  
  .searchItem{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background-color: #FBE0DC;
    border-radius: 10px;
    pointer-events: auto;
  }


.search:focus-within {
  outline: 2px solid #FBE0DC;
}

.search:active {
  outline: 2px solid #FF868E;
}