  .voting{
    grid-column:2;
    grid-row: 1;
    margin:-10px 30px -60px 160px;
  }

  .votingWraper{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    text-align: center;
  }

  .votingBlockName{
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .next{
    color: #FF868E;
    padding: 2px 8px;
    font-size: 25px;
    background-color: #FBE0DC;
    border-radius: 10px;
    cursor: pointer;
  }

  .catImgBreedsWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:7px;
    padding: 0 10px 10px 10px;
  }

  .wraperImgBlokSearchImages{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 10px 10px 10px;
    text-align: center;
  }

  .sort{
    width: 100%;
  }

  .next{
    color: #FF868E;
    padding: 2px 8px;
    font-size: 25px;
    background-color: #FBE0DC;
    border-radius: 10px;
    cursor: pointer;
  }

  .headerBreeds{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    gap:10px;
  }

  .vote{
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF868E;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #FFFFFF;
  }

  .breedSelect{
    width: 140px;
    font-size: 12px;
    background-color: #F8F8F7;
    color:#8C8C8C;
    border: none;
    padding: 12px;
  }

  .breedsLimit{
    width: 140px;
    font-size: 12px;
    background-color: #F8F8F7;
    color:#8C8C8C;
    border: none;
    padding: 12px;
  }

  .uploadPhoto{
    background-color: #FBE0DC;
    color: #FF868E;
    padding: 7px 15px;
    border-radius: 7px;
  }

  .notFound{
    color:#8C8C8C;
    background-color: #F8F8F7;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
  }