   .breeds{
    grid-column:2;
    grid-row: 1;
    margin:-10px 30px -70px 160px;
  }
    
  .catImgBreedsDiv{
    margin-top: 0;
    width:100%;
    border-radius: 10px;
  }
  
  .catImgBreedsDiv:hover,.catImg:hover{
    filter: invert(30%) grayscale(80%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(200%) contrast(1);
      filter: grayscale(80%) brightness(60%) sepia(40%) hue-rotate(-50deg) saturate(400%) contrast(1);
  }

  .wraperImgBlokSearchImages{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 10px 10px 10px;
    text-align: center;
  }

  .sort{
    width: 100%;
  }
  
  .next{   
    color: #FF868E;
    padding: 2px 8px;
    font-size: 25px;
    background-color: #FBE0DC;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .headerBreeds{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    gap:10px;    
  }

  .vote{
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF868E;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #FFFFFF;
  }

  .breedSelect{
    width: 140px;
    font-size: 12px;
    background-color: #F8F8F7;
    color:#8C8C8C;
    border: none;
    padding: 12px;
  }
  
  .breedsLimit{
    width: 140px;
    font-size: 12px;
    background-color: #F8F8F7;
    color:#8C8C8C;
    border: none;
    padding: 12px;
  }