body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color:   #E5E5E5;
}

main{
  margin: 30px 0px 0px 70px;
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.searchingLine{
  display: flex;
  gap: 10px;  
  margin-bottom: 10px;
}

.search{
  flex-grow: 2;
  display: flex;  
  justify-content: space-between;  
  background-color: #FFFFFF;
  border-radius: 10px;
}

.searchInput{
  width: 100%;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8C8C8C;   
}

.searchItem{
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color: #FBE0DC;
  border-radius: 10px;
}

.reaction{
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
}

/*
.votingBlock{
  padding: 1vw;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: 1vw;
}

.voteNext{     
  margin-left: 1.5vw;
  display: flex;
  gap:1vw;    
  margin-bottom: 1vw;
  flex-wrap: wrap;
}*/

/*
.currentReactionBlock{
  margin-top: -1vw;
  display:flex;
  justify-content: center;   
  z-index: 3;
}

.currentReactionBlockWrapper{
  display:flex;    
  justify-content: space-evenly;
  background-color: #ffffff;
  border: solid 4px #ffffff;
  border-radius: 20px;
  z-index: 3;
  
}
.currentReaction{
  margin-right: .3vw;
  padding: 1vw 1.2vw;
  display: flex;
}

.smile{
  background-color: #97EAB9;
  border-radius: 15px 0 0 15px;
}

.like{
  background-color:#FF868E;
}

.sad{
  background-color:#FFD280;
  border-radius: 0 15px 15px 0;
  margin-right: 0;
}

.activeBtn{
  background-color: #FF868E;
  color: white;
}

.reaction:hover{
  background-color: #FBE0DC;
}

.smile:hover{
  background-color: rgba(151, 234, 185, 0.3);
}

.like:hover{
  background-color: rgba(255, 134, 142, 0.3);
}

.sad:hover{
  background-color:rgba(255, 210, 128, 0.3); 
}

.currentImgBlock{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
  margin: auto;
  border-radius: 10px;
  height: 45vh;
  width: 100%;
}

.currentImgBlock:hover{
  background: transparent;
background-image: linear-gradient(rgb(255, 134, 142),rgb(255, 134, 142));
opacity: 0.8;
}

.reactionhovering{
  position: absolute;
  z-index: 4;
}

.reactionTime{
  display: grid;
  padding: 0.4vw 0vw 0.3vw 1vw;
  margin: .5vw ;
  grid-template-columns: 1fr 6fr 1fr;
  background-color: #F8F8F7;
  border-radius: 10px;
}

.time{
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  margin-right: 1vw;
}

.breedsBlock{
  background-color: #FF868E;
  grid-column:2;
  grid-row: 1;
  margin:0vw 2vw 0vw 12vw; 
  padding: 0.7vw;
  border-radius: 10px;
  background-color: #F8F8F7;;
}

.catImgBreedsDiv:hover,.catImg:hover{
  filter: invert(30%) grayscale(80%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(200%) contrast(1);
    filter: grayscale(80%) brightness(60%) sepia(40%) hue-rotate(-50deg) saturate(400%) contrast(1);
}*/

.vote.breedSelect{
  width: 140px;
  font-size: 12px;
  background-color: #F8F8F7;
  color:#8C8C8C;
  border: none;
  padding: 12px;
}

.vote.breedsLimit{
  width: 140px;
  font-size: 12px;
  background-color: #F8F8F7;
  color:#8C8C8C;
  border: none;
  padding: 12px;
}

.headerBreeds{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  gap:10px;    
}

.sort{
  width: 100%;
}

.next{   
  color: #FF868E;
  padding: 2px 8px;
  font-size: 25px;
  background-color: #FBE0DC;
  border-radius: 10px;
  cursor: pointer;
}

.vote{
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF868E;
  border-radius: 10px;
  letter-spacing: 2px;
  font-size: 15px;
  color: #FFFFFF;
}

