.voting{
    grid-column:2;
    grid-row: 1;
    margin:-10px 30px -60px 160px;
}

.votingWraper{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
}

.votingBlockName{
    margin: 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.votingImg{
    border-radius: 20px;
    width: 90%;
    height: 350px;
    padding: 5px;
    align-self: center;
    object-fit: cover;
}

.currentReactionBlock{
    margin-top: -35px;
    display:flex;
    justify-content: center;   
    z-index: 3;
  }
  
  .currentReactionBlockWrapper{
    display:flex;    
    justify-content: space-evenly;
    background-color: #ffffff;
    border: solid 4px #ffffff;
    border-radius: 20px;
    z-index: 3;
    
  }
  .currentReaction{
    margin-right: 4px;
    display: flex;
  }
  
  .smile{
    background-color: #97EAB9;
    border-radius: 15px 0 0 15px;
  }
  
  .like{
    background-color:#FF868E;
  }
  
  .sad{
    background-color:#FFD280;
    border-radius: 0 15px 15px 0;
    margin-right: 0;
  }

  .smile:hover{
    background-color: #97eaba85;
  }
  
  .like:hover{
    background-color:#ff868e86;
  }
  
  .sad:hover{
    background-color:#ffd3807e;
  }
  
  .next{   
    color: #FF868E;
    padding: 2px 8px;
    font-size: 25px;
    background-color: #FBE0DC;
    border-radius: 10px;
    cursor: pointer;
  }

  .vote{
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FF868E;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 15px;
    color: #FFFFFF;
  }
  
  .reactionDescription{
    padding: 0 20px;
    display: flex;
    background-color: #F5F5F5;;
    border-radius: 10px;
    margin: 7px 25px;
    justify-content: space-between;
  }

  .reactionImg{
    padding:11px 0px;
  }

  .currentReactionBlockWrapper svg{
    padding: 12px;
    width: 70px;
    height: 50px;
  }